body{
    background-color: forestgreen;
}
#content{
max-width: 888px;
    width: auto;
    margin: 0 auto;
    background-color: azure;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}
#imageright {
    float: right;
    width: 200px;
    height: 300px;
    margin-left: 20px;
    border: 1px solid forestgreen;
    border-radius: 20px;
    overflow: hidden; /* a kép és p ne lógjon ki */

}

#imageright img {
    width: 100%;
    height: 281px;
    object-fit: fill;
   
    display: block;
}

#imageright p {
    
    background-color: goldenrod;
    color: white;
    margin: 0;
    text-align: center;
   

}
#imageleft {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    margin-bottom: 50px;
    border: 1px solid forestgreen;
    border-radius: 20px;
    overflow: hidden;
   
}

#imageleft img {
    width: 100%;
   
    object-fit: cover;

    display: block;
}

#imageleft p {
    background-color: goldenrod;
    color: white;
    margin: 0;
    text-align: center;
  

}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
h1,h2{
    text-transform: uppercase;
    color: forestgreen;
}
p,li{
    text-align: justify;
     text-indent: 2em; 
}